.logo{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.logo-left {
    background-color: #072b66;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
}

.glow:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #005de8, 0 0 40px #005de8, 0 0 50px #005de8, 0 0 60px #005de8, 0 0 70px #005de8;
}

.logo-right{
    padding: 3px 8px 3px 3px;
    margin-left: 3px;
    border-radius: 4px;
}

.mobileNav {
    color: #fff !important;
    font-size: 1em;
    display: none;
    margin-left: 1vh;
    margin-right: 3vh;
}