.logo{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.logo-left {
    background-color: #542eff;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
}

.logo-right{
    padding: 3px 8px 3px 3px;
    margin-left: 3px;
    border-radius: 4px;
}

.mobileNav {
    color: #fff;
    font-size: 1em;
    display: none;
    margin-left: 1vh;
    margin-right: 3vh;
}