<div class="projects">
    <div class="card-deck">
        <div class="card shadow card-theme card-bottom" style="width: 18rem;">
            <img class="card-img-top" src="assets\resources\visualizerpic.png" alt="Card image cap">
            <div class="card-body card-body-theme">
                <h5 class="card-title">Project A</h5>
                <p class="card-text">
                    This project is a full stack SPA, similar to this website. It records your keyboard usage
                    and relays the data back to you in visual formats of clicks/minute. While its practical use is low,
                    I have had fun finding out my trends while gaming and variousa activities. This project took a large sum of time.
                </p>
            </div>
            <div class="card-footer card-body-theme text-center">
                <button href="" class="btn btn-primary" style="width: 100%;">Check it out!</button>
            </div>
        </div>
        <div class="card shadow card-theme card-bottom">
            <img class="card-img-top" src="assets\resources\timeappproj.png" alt="Card image cap">
            <div class="card-body card-body-theme">
                <h5 class="card-title">Project B</h5>
                <p class="card-text">
                    This project was my first time utilizing WPF. It connects the application to a database for controlling
                    an employee's timesheet and has manager functions.
                </p>
            </div>
            <div class="card-footer card-body-theme">
                <button href="" class="btn btn-primary" style="width: 100%;">Check it out!</button>
            </div>
        </div>
        <div class="card shadow card-theme card-bottom">
            <img class="card-img-top" src="assets\resources\pbnet.png" alt="Card image cap">
            <div class="card-body card-body-theme">
                <h5 class="card-title">Project C</h5>
                <p class="card-text">
                    This project was my first time wrapping an API. It allows you to seamlessly send push notifications to your users' phones from your code.
                </p>
            </div>
            <div class="card-footer card-body-theme">
                <button href="" class="btn btn-primary" style="width: 100%;">Check it out!</button>
            </div>
        </div>
    </div>
    <div class="card-deck" style="margin-top: 10vh; margin-bottom: 10vh;">
        <div class="card shadow card-theme card-bottom">
            <img class="card-img-top" src="assets\resources\thiswebsite.png" alt="Card image cap">
            <div class="card-body card-body-theme">
                <h5 class="card-title">Project D</h5>
                <p class="card-text">
                    This website is actually my second website ever. It is my first website using a frontend framework instead of html and css only.
                </p>
            </div>
            <div class="card-footer card-body-theme">
                <button href="" class="btn btn-primary" style="width: 100%;">Check it out!</button>
            </div>
        </div>
        <div class="card shadow card-theme card-bottom">
            <img class="card-img-top" src="assets\resources\bsortvisualizer.png" alt="Card image cap">
            <div class="card-body card-body-theme">
                <h5 class="card-title">Project E</h5>
                <p class="card-text">
                    This is a bubble sort algorithim I made that writes all steps into the console with colors that can be well read to identify what action was taken.
                </p>
            </div>
            <div class="card-footer card-body-theme">
                <button href="" class="btn btn-primary" style="width: 100%;">Check it out!</button>
            </div>
        </div>
        <div class="card shadow card-theme card-bottom">
            <img class="card-img-top" src="assets\resources\miniprojects.png" alt="Card image cap">
            <div class="card-body card-body-theme">
                <h5 class="card-title">Project F</h5>
                <p class="card-text">
                    These are little mini projects that I throw together in my spare time.
                </p>
            </div>
            <div class="card-footer card-body-theme">
                <button href="" class="btn btn-primary" style="width: 100%;">Check it out!</button>
            </div>
        </div>
    </div>
</div>