#sidebar {
    height: 100vh;
    padding-top: 80px;
    position: static;
    background-color: #121212;
}

#dashboard {
    margin-top: 60px;
}

#navbar {
    background-color: #121212!important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.3);
    padding: 0 !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}