<!-- TODO: Animation? Maybe? Please? -->

<div class="cards">
    <div class="card-deck">
    <div class="card selfie">
        <div class="card-body selfie">
          <h5 class="card-title picture"></h5>
        </div>
      </div>
        <div class="card-body">
          <h5 class="card-title name">Keith Ritter</h5>
        </div>
    </div>
    <div class="card shadow card-theme card-bottom">
        <div class="card-head card-heading-theme">
            <h5>About Me</h5>
        </div>
        <div class="card-body card-body-theme">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis faucibus metus. Aliquam lacinia nulla nec dolor consectetur, et aliquet risus cursus. Curabitur tempor augue ac arcu fringilla, eu placerat lacus vehicula. Proin pretium leo nisl, eu aliquet libero maximus quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam scelerisque nisi sit amet magna luctus, non accumsan sapien vulputate. Maecenas dignissim tellus at aliquam suscipit. Cras quam lectus, efficitur nec magna non, ultricies luctus nulla.
                Sed est elit, malesuada elementum quam a, suscipit viverra urna. Maecenas a enim libero. Suspendisse potenti. Aenean in elit eu ante suscipit sagittis et id diam. Donec pretium libero ante, vel tempor ipsum condimentum in. Suspendisse congue aliquam lacinia. Sed et est non ante convallis imperdiet. Quisque mollis scelerisque sapien, eget feugiat risus dapibus eget.
                Nam mattis hendrerit pharetra. Duis laoreet interdum interdum. Aenean tincidunt, odio sit amet congue consequat, dui sapien lobortis dolor, eget volutpat nisi massa non velit. Donec sodales justo cursus quam dapibus, vitae vehicula lectus viverra. Vivamus sodales elementum quam. Etiam viverra nec justo ut rutrum. Maecenas consequat auctor sollicitudin. Duis id tincidunt tellus.</p>
         </div>
     </div>
</div>