* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #212121;
    color: #ffff;
    height: 100%;
    background-image: url("resources/earthbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #ffff;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif !important;
}

a:hover{
    color: #ffff;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3)
}

.section-container {
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
