* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #00aeff;
    color: #ffff;
    height: 100%;
   /* background-image: url("resources/earthbg.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

a {
    color: #ffff;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif !important;
}

a:hover{
    color: #ffff;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0,0,0,0.3), 0 5px 6px rgba(0,0,0,0.5)!important;
}

.section-container {
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-theme {
    background-color: #121212!important;
    border: none;
    border-radius: 2px;
}

.card-heading-theme {
    color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-body-theme {
    background-color: #494f56;
}

.cards {
    font-family: 'Source Sans Pro', sans-serif;
}

.ul {
    padding: 0!important;
    margin: 0!important;
}

* [class^="col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.row {
    padding: 0!important;
    margin: 0!important;
    justify-content: space-between;
}

.container {
    justify-content: space-between;
}