* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #00aeff;
    color: #ffff;
    height: 100%;
   /* background-image: url("resources/earthbg.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Merriweather', serif !important;
}

a {
    color: #ffff;
}

a:hover{
    color: #ffff;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0,0,0,0.3), 0 5px 6px rgba(0,0,0,0.5)!important;
}

.card{
    background-color: transparent;
}

.card-theme {
    border: none;
    border-radius: 2px;
}

.card-heading-theme {
    background-color: #121212;
    color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
}

.card-body-theme {
    background-color: #121212f1!important;
}

.ul {
    padding: 0!important;
    margin: 0!important;
}

* [class^="col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.row {
    padding: 0!important;
    margin: 0!important;
    justify-content: space-between;
}

.container {
    justify-content: space-between;
}

.ptabout {
    padding-top: 10vh;
}

.card-columns {
    column-count: 3;
}